{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/login.css" />

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formSignup').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}
    <div class="row signup-row">
        <div class="col-lg-4"></div>
            <div class="col-lg-4 signup-card">
                <h1>Sign up</h1>

                {% if user.errors is not empty %}
                    <p>Errors:</p>
                    <ul>
                        {% for error in user.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="post" action="/signup/create" id="formSignup">

                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" name="password" placeholder="Password" required class="form-control" />
                    </div>
                    
                    <div class="submit-btn">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>        
        </div>    
    <div class="row" style="flex: 1;"></div>   
{% endblock %}
