{% extends 'base.html' %}

{% block title %}Resume Section{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {

        var resumesectionid = '{{ resumesection.id }}';

        /**
         * Validate the form
         */
        $('#formResume').validate({
            rules: {
                name: 'required', minlength: 1, maxlength: 50,
                //    {
                //required: true,
                //remote: {
                //    url: '/account/validate-email',
                //    data: {
                //        ignore_id: function() {
                //            return resumeId;
                //        }
                //    }
                //}
                //},
            },
            messages: {
                name: 'Text from 1 to 50 caracters'
            }
        });

    });
</script>

{% endblock %}

{% block body %}
<br>
<div class="row">
    <div class="col_lg_12">
        <h1>Resume Section</h1>
    </div>
</div>
<br>
{% if resumesection.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in resumesection.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
        <form method="post" id="formResume" action="/resumesection/update/{{ resumesection.id}}">

            <div class="form-group">
            <label for="inputName">Section Name</label>
            <input id="inputSectionName" name="name" placeholder="Name" value="{{ resumesection.name }}" required class="form-control" />
            </div>

             <button type="submit" class="btn btn-default">Save</button>

            <a href="/resume/v{{resumeversion}}">Cancel</a>

        </form>

<div class="row" style="flex: 1;"></div>
{% endblock %}
