{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block footer %}
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {
            /**
             * Validate the form
             */
            $('#formResume').validate({
                rules: {
                    section_name {
                        required: true,
                        minlength: 1, 
                        maxlength: 50
                    },
                                    
                        //    {
                        //required: true,
                        //remote: {
                        //    url: '/account/validate-email',
                        //    data: {
                        //        ignore_id: function() {
                        //            return resumeId;
                        //        }
                        //    }
                        //}
                    //},
                },
                messages: {
                    name 'Type from 1 to 50 caracters'
                }
            });

        });
    </script>

{% endblock %}

{% block body %}

    <h1>Resume</h1>

    {% if resumesection.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in resumesection.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post" id="formResume" action="/resume/{{ resumeid }}/resumesection/create">
        
        <div class="form-group">
            <label for="inputName">Section Name</label>
            <input id="inputName" name="name" placeholder="Section Name" required class="form-control" />
       </div>

        <button type="submit" class="btn btn-default">Save</button>
        <a href="/resume/v{{resumeversion}}">Cancel</a>

    </form>
    
    <div class="row" style="flex: 1;"></div>

{% endblock %}
