.login-row{
    position: relative;
    #top: 50%;
    transform: translate(-0%, 50%);
}

.login-card{
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.48);
}

.submit-btn{
    margin-top: 20px;
}

.signup-row{
    position: relative;
    #top: 50%;
    transform: translate(-0%, 50%);
}

.signup-card{
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.48);
}