/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Nov-2018, 9:34:16 PM
    Author     : Maximo
*/

h1{
	font-weight: bold;
}

h2{
	font-weight: bold;
}

.item_description{
	padding-bottom: 10px;
	padding-top: 10px;
	#border:1px solid red;
}

.item_action{
	padding-left:10px;
	#border:1px solid red;
}

.item_period_timeline{
	border-right:1px dashed grey;
}

#.new_item_col{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 80px;
	border:1px solid grey;
}

.new_item_link{
	padding-bottom: 10px;
}
	
.item_inner_period{
	padding-bottom: 10px;
	padding-top: 10px;
	#border:1px solid red;
}

.resume_section_action{
	#border:1px solid red;
	padding-left:10px;
}

.resume_section_title{
  display: flex;
  align-items: center;
}

.resume_section_title h2{
	margin: auto;
}

.resume_section_row{
	margin-top: 80px;
	#margin-bottom: 10px;
}

.resume_row{
	margin-top: 50px;
}