html, body {	
    padding-top:0px;
    box-sizing:border-box;
    color: white;
    font-family: Helvetica, Arial;
    #background-image: url('/img/defaultBackground.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.header{
    min-height: 70px;  
    #max-width: 100%;
    text-align: right;
    align-items: center;
    padding-right: 10px;
		
	display: flex;

}

.headerItem{
	height: auto;
	min-width:70px;
	float: right;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
}
.profileCircle{
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,1);

  background-repeat: no-repeat;
  
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.profileSquare{
  display: inline-block;
  width: 70px;
  height: 70px;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.profileSquare:hover{
  opacity: 1;
}

.profileCircle:hover{
  border: 2px solid darkgrey;
  
}
.profileButton{
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
}

.profilePopover{
  #display: none;
  position: absolute;
  min-width: 160px;
  #overflow: auto;
  #box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;  
  
  transition: opacity 0.3s ease-in-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.profilePopoverContent{
	position: relative;
	right: 10px;
	background-color: #f1f1f1;
	border: 1px solid #615d5d;
	border-radius: 3px;
}

.arrowUp {
  display: none;
  position: relative;
  left: 105px; 
  text-align: right;
  z-index: 1;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid #615d5d;
}

.popoverArrowLine:after{
	display: block;
	content: '';
	clear: both;
}

.show {
	display: block;
	opacity: 1;
    height: auto;
}

.headerItem:hover{
	border-bottom: 3px solid grey;
}
	
.site-color{
    background-color: rgba(0, 0, 0, 0.50);
}

.my-name-block{
    text-align: center;
    align-items: center;
}
.my-name{
    margin: 0;
    font-size: 4.5vw;
    font-weight: 800 !important;
}

.menu{
    padding-top: 20px; 
    margin-bottom: 20px; 
    text-align: center;
}

.menu-item{
    padding-top: 20px; 
    margin-bottom: 20px; 
    text-align: center;
}

.social{
    flex: 1;
}


.fill{
    min-height: 100%;
    width: 100%;
    padding-top:0px;
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

.content-modal{
    min-height: 90%;
    max-width: 90%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;

    top: 5%;
    left: 5%;
    
    #-webkit-transform: translate(-50%, -50%);
    #transform: translate(-50%, -50%);    
    
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
}

.modal-header{
    min-height: 10%;
    border: none;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

.modal-body{
    min-height: 90%;
    border: none;
    align-items: center;
    float: none;
}
