{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/customize.css" />
<div class="row site-color m-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h1 class="p-5">Customize</h1>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        
		<!-- Site color -->
		<div class="row site-color border-bottom">
			<h1 class="p-4"> Site color </h1>
		</div>
		<div class="row p-4 mb-4 site-color">
			<div class="col-md-8">
				<form id="imgForm" action="/customization/create" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="color">Color</label> 
						<input type="color" id="color" name="color" onchange="customizeColor()"/>
					</div>
				</form>
			</div>
        </div>

		<hr>
		
		<!-- Background picture -->
		<div class="row site-color border-bottom">
			<h1 class="p-4"> Background Picture </h1>
		</div>
        <div class="row p-4 mb-4 site-color">
            <div class="col-md-8">

                <form id="form" action="/customization/create/background" method="post" enctype="multipart/form-data">
                    <input id="uploadImage" type="file" accept="image/*" name="image" onchange="f_previewBackground(this);"/>
                    <img id="previewBackground" style="width: 50%" src="/img/{{customization.user_id}}_background.jpg" /><br>
                    <input id="uploadBackgroundBtn" class="btn btn-success" type="submit" value="Upload">
                </form>

                <div id="err"></div>

            </div>
        </div>
		
		<hr>
		
		<!-- Profile picture -->
		<div class="row site-color border-bottom">
			<h1 class="p-4"> Profile Picture </h1>
		</div>
		<div class="row site-color mb-5 p-4">
            <div class="col-md-8">

                <form id="form" action="/customization/create/profile" method="post" enctype="multipart/form-data">
                    <input id="uploadImage" type="file" accept="image/*" name="image" onchange="f_previewProfile(this);"/>
                    <img id="previewProfile" style="width: 30%" src="/img/{{customization.user_id}}_profile.jpg" /><br>
                    <input id="uploadProfileBtn" class="btn btn-success" type="submit" value="Upload">
                </form>

                <div id="err"></div>

            </div>
        </div>
		
    </div>
</div>
<div class="row" style="flex: 1;"></div>



<script src="/js/customize.js"></script>
{% endblock %}
