{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row" style="flex: 1;"></div>
    <div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 my-name-block site-color">
			<a href="" id = 'typewrite' class="typewrite" data-period="2000" data-type='["Welcome", "{{name}}"]'>
			<span class="wrap my-name title"></span>
				</a>
		</div>
		<div class="col-lg-2"></div>
    </div>
    <div class="row" style="flex: 1;"></div>
    <div class="row">
        <div class="col-lg-6 site-color">
            <div class="row menu">
                <div class="col-lg-9">
                    <div class="row">
<!--                        <div class="col-lg-1 menu-item">
                            <a href="#"><i class="fas fa-home"></i></a>
                        </div>-->
                        <div class="col-lg-4 menu-item">
                            <a href="/resume" id="resume">Resume</a>
                        </div>
                        <div class="col-lg-4 menu-item">
                            <a href="#" id="portfolio">Portfolio</a>
                        </div>
                        <div class="col-lg-4 menu-item">
                            <a href="#" id="contact">Contact</a>
                        </div>
                    </div> 
                </div> 
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-xs-4 menu-item social"><a href="#"><i class="fab fa-facebook-f"></i></a> </div>
                        <div class="col-xs-4 menu-item social"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="col-xs-4 menu-item social"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-6"></div>
    </div>
    <div class="row" style="flex: 1;"></div>
{% endblock %}
