{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {

        var resumeId = '{{ resume.id }}';

        /**
         * Validate the form
         */
        $('#formResume').validate({
            rules: {
                name: 'required', minlength: 1, maxlength: 2,
                visible: 'required', minlength: 2, maxlength: 3,
                //    {
                //required: true,
                //remote: {
                //    url: '/account/validate-email',
                //    data: {
                //        ignore_id: function() {
                //            return resumeId;
                //        }
                //    }
                //}
                //},
            },
            messages: {
                version: 'Number from 1 to 10',
                visible: 'Yes or No'
            }
        });

    });
</script>

{% endblock %}

{% block body %}
<br>
<div class="row">
    <div class="col_lg_12">
        <h1>Resume</h1>
    </div>
</div>
<br>
{% if resume.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in resume.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
        <form method="post" id="formResume" action="/resume/update/{{ resume.id}}">

            <div class="form-group">
            <label for="inputVersion">Version</label>
            <input id="inputVersion" name="version" placeholder="Version" value="{{ resume.version }}" required class="form-control" />
            </div>
             <div class="form-group">
                <!--<label for="inputVisible">Visible {{resume.visible}}</label>-->

                   
<!--                       <label class="btn btn-secondary active">
                           <input type="radio" id="inputVisibleYes" name="visible" autocomplete="off" {% if resume.visible == 'YES'%}checked{% endif %}> Active
                       </label>
                       <label class="btn btn-secondary">
                           <input type="radio" id="inputVisibleNo" name="visible" autocomplete="off"> Radio
                       </label>-->
                    
                <select class="form-control" id="inputVisibleNo" name="visible">
                    <option value='YES' {% if resume.visible == 'YES'%} selected {%endif%}>Visible</option>
                    <option value='NO' {% if resume.visible == 'NO'%} selected {%endif%}>Hidden</option>
                </select>
                   


                <!--<input id="inputVisible" name="visible" placeholder="Visible" value="{{ resume.visible }}" required class="form-control" />-->
            </div>

             <button type="submit" class="btn btn-default">Save</button>

            <a href="/resume/v{{ resume.version }}">Cancel</a>

        </form>

<div class="row" style="flex: 1;"></div>
{% endblock %}
