{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block footer %}
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {
            /**
             * Validate the form
             */
            $('#formResume').validate({
                rules: {
                    version: {
                        required: true,
                        minlength: 1, 
                        maxlength: 2
                    }, 
                                    
                        //    {
                        //required: true,
                        //remote: {
                        //    url: '/account/validate-email',
                        //    data: {
                        //        ignore_id: function() {
                        //            return resumeId;
                        //        }
                        //    }
                        //}
                    //},
                },
                messages: {
                    version: 'Number 1 to 10'
                }
            });

        });
    </script>

{% endblock %}

{% block body %}

    <h1>Resume</h1>

    {% if resume.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in resume.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post" id="formResume" action="/resume/create">
        
        <div class="form-group">
            <label for="inputVersion">Version</label>
            <input id="inputVersion" name="version" placeholder="Version" 
                    {%if resume.version is empty%} 
                        value="{{maxversion+1}}" 
                    {%else%} 
                        value="{{resume.version}}" 
                    {%endif%} 
            required class="form-control" />
       </div>
        
        <div class="form-group">
            <select class="form-control" id="inputVisibleNo" name="visible">
                <option value='YES'>Visible</option>
                <option value='NO' selected>Hidden</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">Save</button>
        <a href="/resume/v1">Cancel</a>

    </form>
    
    <div class="row" style="flex: 1;"></div>

{% endblock %}
