{% extends 'base.html' %}
{% block footer %}
    <link rel="stylesheet" href="/css/resume.css" />
{% endblock %}

{% block title %}Resume{% endblock %}
{% block body %}
    
        
    
    
    {% for resume in resumes %}
        <div class="row">
            <div class="col-lg-2">
                <h1 title="title"> Resume </h1> 
                
            </div>
            <div class="col-lg-2">
                <select class="form-control" id="selectVersion" 
                        name="select_version" onchange="location = this.value;">
                    {% for version in versions %}
                        <option value='/resume/v{{version}}' {%if version == resume.version%} selected {% endif %} > Version {{version}} </option>
                    {% endfor %}
                    <option value='/resume/new'> New version </option>
                    <!--<a href="/resume/new"><i class="fas fa-plus-circle"></i></a>-->

                </select>
                
            </div>
            <div class="col-lg-8"></div>
        </div>
        
    
        <div class="row resume_row site-color">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4"> Resume ID: {{ resume.id }}</div> 
                    <div class="col-lg-4"> Version: {{ resume.version }}</div> 
                    <div class="col-lg-4"> {% if resume.visible == 'YES'%} Visible {% elseif resume.visible == 'NO'%} Hidden {% endif %}</div>
                        
                </div>
            </div>
            
            <div class="col-lg-2"><i class="fas fa-plus-circle"></i> <a href="/resume/{{ resume.id }}/resumesection/new">New Section</a> </div>
            <div class="col-lg-2"><a href="/resume/edit/{{ resume.id }}">Edit</a> </div> 
            <div class="col-lg-2"><a href="/resume/delete/{{ resume.id }}">Delete</a> </div>
        </div>
    <hr>
        {% for resumesection in resumesections %}
            {% if resumesection.resume_id == resume.id %}
                <div class="row resume_section_row">
                    <div class="col-lg-4 site-color"></div>
                    <div class="col-lg-3 site-color resume_section_title">
                        <h2>{{ resumesection.name }}</h2>
                    </div> 
                    <div class="col-lg-5">
                        <div class="row resume_section_action"><a href="/resumesection/edit/{{ resumesection.id }}"><i class="far fa-edit"></i></a> </div>
                        <div class="row resume_section_action"><a href="/resumesection/delete/{{ resumesection.id }}"><i class="far fa-trash-alt"></i></a> </div>
                    </div>
                </div>

                {% for resumesectionitem in resumesectionitems %}
                    {% if resumesectionitem.res_section_id == resumesection.id %}
                        <div class="row">
                            <div class="col-lg-1 item_period_timeline"> <br><br><br> </div>
                            <div class="col-lg-11"> </div>
                        </div>
                        <div class="row">
                            <!--Period-->
                            <div class="col-lg-3 item_period">
                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-2">
<!--                                        <div class="row item_action">
                                            <div class="col-xs-12 item_actions">
                                                <a href="/resumesectionitem/edit/{{ resumesectionitem.id }}"><i class="far fa-edit"></i></a> 
                                            </div>
                                        </div>    
                                        <div class="row item_action">
                                            <div class="col-xs-12 item_actions">
                                                <a href="/resumesectionitem/delete/{{ resumesectionitem.id }}"><i class="far fa-trash-alt"></i></a> 
                                            </div>
                                        </div>-->

                                    </div>

                                    <div class="col-lg-6 item_inner_period site-color"> 
                                        
                                        <label><i class="far fa-calendar-alt"></i></label> 
                                        <div>{{ resumesectionitem.period }} </div>
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>
<!--                                    <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-3"><a href="/resumesectionitem/edit/{{ resumesectionitem.id }}">Edit</a></div>    
                                    <div class="col-lg-3"><a href="/resumesectionitem/delete/{{ resumesectionitem.id }}">Delete</a></div>
                                    <div class="col-lg-2"></div>
                                </div>-->

                            </div>

                            <!--Description-->
                            <div class="col-lg-6 item_description site-color"> 
                                <div class="col-lg-12">
                                    <div class="row">
                                        <h4>
                                            {{ resumesectionitem.name }}
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <h5>
                                            {{ resumesectionitem.subtitle }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="row">
                                        <p>{{ resumesectionitem.description }}</p>
                                    </div>
                                </div>
                            </div> 

                            <!--Skills-->
                            <div class="col-lg-3"> 
                                <div class="row item_action">
                                    <!--<div class="col-xs-12 item_actions">-->
                                    <a href="/resumesectionitem/edit/{{ resumesectionitem.id }}"><i class="far fa-edit"></i></a> 
                                    <!--</div>-->
                                </div>    
                                <div class="row item_action">
                                    <!--<div class="col-xs-12 item_actions">-->
                                    <a href="/resumesectionitem/delete/{{ resumesectionitem.id }}"><i class="far fa-trash-alt"></i></a> 
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                    {% endif %}
                        
                {% endfor %}
                
                <div class="row item_separation_row">
                    <div class="col-lg-1 item_period_timeline"> <br><br><br> </div>
                    <div class="col-lg-11"> </div>
                </div>
                <div class="row">
                    <!--New item link-->
                    <div class="col-lg-3 item_period">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-6 item_inner_period site-color"> 
                                <i class="fas fa-plus-circle"></i>
                                <a class="new_item_link" href="/resume/{{ resume.id }}/resumesection/{{ resumesection.id }}/resumesectionitem/new">New Section Item</a>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </div>
                </div>
                  
            {% endif %}
        {% endfor %}
        <div class="row resume_section_row">
            <div class="col-lg-4 site-color">

            </div>
            <div class="col-lg-3 site-color">
                <h2>
                    
                    <a href="/resume/{{ resume.id }}/resumesection/new"><i class="fas fa-plus-circle"></i> New Section</a>
                </h2>
            </div> 
            <div class="col-lg-5"></div>
        </div>
        
        
        
        <!--<div class="col-lg-2" style="border:1px solid blue"><a href="/resume/{{ resume.res_id }}/resumesection/new">New Section</a> </div>-->

        <!--<div class="col-lg-2" style="border:1px solid blue"><a href="/resume/{{ resume.res_id }}/resumesection/{{ resume.res_sec_id }}/resumesectionitem/new">New Section Item</a> </div>-->

        
        <hr>
    {% endfor %}
    
    <div class="row" style="flex: 1;"></div>

{% endblock %}
