{% extends "base.html" %}

{% block title %}Log in{% endblock %}



{% block body %}

<link rel="stylesheet" href="/css/login.css" />

    <div class="row login-row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 login-card">
            <h1>Log in</h1>

            <form action="/login/create" method="post">
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Remember me
                    </label>
                </div>
                
                <div class="submit-btn">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <a href="/password/forgot">Forgot password?</a>
                </div>        
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row" style="flex: 1;"></div>
    
{% endblock %}
