{% extends 'base.html' %}

{% block title %}Resume Section Item{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>

<script>
    $(document).ready(function() {
    /**
     * Validate the form
     */
    $('#formResumeSectionItem').validate({
    rules: {
    name {
        required: true,
        minlength: 1,
        maxlength: 50
    },
            //    {
            //required: true,
            //remote: {
            //    url: '/account/validate-email',
            //    data: {
            //        ignore_id: function() {
            //            return resumeId;
            //        }
            //    }
            //}
            //},
    },
        messages: {
            Name: 'Between 2 and 50 caracters',
        }
    });
    });
</script>

{% endblock %}

{% block body %}

<h1>Resume Section Item</h1>

{% if resumesectionitem.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in resumesectionitem.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" id="formResumeSectionItem" action="/resume/{{resumeid}}/resumesection/{{resumesectionid}}/resumesectionitem/create">

    <div class="form-group">
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" value="{{ resumesectionitem.name }}" required class="form-control" />
    </div>
     <div class="form-group">
        <label for="inputSubtitle">Subtitle</label>
        <input id="inputSubtitle" name="subtitle" placeholder="Subtitle" value="{{ resumesectionitem.subtitle }}" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPeriod">Period</label>
        <input id="inputPeriod" name="period" placeholder="Period" value="{{ resumesectionitem.period }}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea id="inputDescription" name="description" placeholder="Description" value="{{ resumesectionitem.description }}" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Save</button>
    <a href="/resume/v{{resumeversion}}">Cancel</a>

</form>

<div class="row" style="flex:1;"></div>

{% endblock %}
