<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/app.js"></script>

    </head>
	{% if current_user %}
		<body style="background-image: url('/img/{{current_user.id}}_background.jpg')">
	{% else %}
		<body style="background-image: url('/img/defaultBackground.jpg')">
	{% endif %}
    
		<div class="container-fluid fill">
			<div class="row d-flex align-items-stretch justify-content-end bd-highlight header site-color">
                <!-- <div class="col-lg-12">-->
                    
                    {% if current_user %}
						<div class="p-2 d-flex align-items-center justify-content-center"><a class="menuItem"  href="/profile"> Hello {{ current_user.name }}. </a></div>
                    {% else %}
                        <div class="p-2 d-flex align-items-center justify-content-center"><a href="/signup/new">Sign up </a> or <a href="/login"> Log in</a>.</div>
                    {% endif %}
                    <div class="p-2 d-flex align-items-center justify-content-center headerItem"><a class="menuItem" href="/"><span class="menuItemTitle" title="Home"><i class="fas fa-home"></i></span></a></div>
                    {% if current_user %}
                        <!--<a class="menuItem" href="/property/show"><span class="menuItemTitle">Property</span></a>-->   
                        
                        
                        <div class="p-2 d-flex align-items-center justify-content-center headerItem"><a class="menuItem" href="/customization"><span class="menuItemTitle" title="Customize"><i class="fas fa-cog"></i></span></a></div>
						<div class="p-2 d-flex align-items-center justify-content-center headerItem"><a class="menuItem" href="/logout"><span class="menuItemTitle" title="Logout"><i class="fas fa-sign-out-alt"></i></span></a></div>
						
						<div class="p-2 d-flex align-items-center justify-content-center">
							
							<a id="profileButton" class="menuItem profileButton" onClick="myFunction()" href="#">
								{% if current_user %}
									<div class='profileCircle' title="Profile" style="background-image:url('/img/{{current_user.id}}_profile.jpg')">
								{% else %}
									<div class='profileCircle' title="Profile" style="background-image:url('/img/guest.jpg')">
								{% endif %}
								
									
								</div>
								
								<div id="profilePopover" class="profilePopover"> 
									<div class="popoverArrowLine">
										<div id="arrowUp" class="arrowUp"></div>
									</div>
										
									<div class="profilePopoverContent site-color">
										<ul>
											<li>Danilo</li>
											<li>Lougout</li>
										</ul>
									</div>
								</div>
								
							</a> 
							
						</div>
					
                    {% endif %}
            </div>


            {% for message in flash_messages %}
            <div class="alert alert-{{ message.type }}">
                {{ message.body }}
            </div>
            {% endfor %}

            {% block body %}
            {% endblock %}

        </div>

        {% block footer %}
        {% endblock %}
    </body>
</html>
