{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {

        var resumeId = '{{ resume.id }}';

        /**
         * Validate the form
         */
        $('#formResume').validate({
            rules: {
                name: 'required', minlength: 1, maxlength: 2,
                phone: {minlength: 0, maxlength: 20},
                profile: {minlength: 0, maxlength: 5000},
                email: {
                    required: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function() {
                                return resumeId;
                            }
                        }
                    }
                },
                password: {
                    minlength: 6,
                    validPassword: true
                },
            },
            messages: {
                name: 'Text from 1 to 10',
                password: 'Min 6 caracters', 
                phone: 'Max 20 caracters',
                profile: 'Max 5000 caracters'
            }
        });

    });
</script>

{% endblock %}

{% block body %}
<br>
<div class="row">
    <div class="col_lg_12">
        <h1>Resume</h1>
    </div>
</div>
<br>
{% if resume.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in resume.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" id="formProfile" action="/profile/update/{{ profile.id}}">

    <div class="form-group">
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" value="{{profile.name }}" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input id="inputEmail" name="email" placeholder="Email" value="{{ profile.email }}" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" aria-describedby="helpBlock" class="form-control" />
        <span id="helpBlock" class="help-block">Leave blank to keep current password</span>
    </div>
    <div class="form-group">
        <label for="inputPhone">Phone</label>
        <input id="inputPhone" name="phone" placeholder="Phone" value="{{ profile.phone }}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputProfile">Profile</label>
        <textarea id="Profile" name="profile" placeholder="Profile" class="form-control">{{ profile.profile }}</textarea>
    </div>
    <div class="form-group">
        <label for="inputSocial1Name">Social Media Name 1</label>
        <input id="inputSocial1Name" name="social1_name" placeholder="Social Media Name 1" value="{{ profile.social1_name }}" class="form-control" />
        <input id="inputSocial1Link" name="social1_link" placeholder="Social Media Link 1" value="{{ profile.social1_link }}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputSocial2Name">Social Media Name 2</label>
        <input id="inputSocial2Name" name="social2_name" placeholder="Social Media Name 2" value="{{ profile.social2_name }}" class="form-control" />
        <input id="inputSocial2Link" name="social2_link" placeholder="Social Media Link 2" value="{{ profile.social2_link }}" class="form-control" />
    </div>

     <button type="submit" class="btn btn-default">Save</button>

    <a href="/profile">Cancel</a>

</form>

<div class="row" style="flex: 1;"></div>
{% endblock %}
