{% extends 'base.html' %}
{% block footer %}
    <link rel="stylesheet" href="/css/styles.css" />
{% endblock %}

{% block title %}Profile{% endblock %}
{% block body %}
    <div class="row site-color m-5">
        <div class="col-lg-12 d-flex justify-content-center">
            <h1 class="p-5">Profile</h1>
        </div>
    </div>
        
    <div class="row site-color border-bottom">
        <h1 class="p-4"> {{ profile.name }} </h1>
    </div>
    <div class="row site-color">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
<!--            <div class="row">
                
                    <div class="col-lg-4"> 
                        Name
                    </div>
                    <div class="col-lg-8"> 
                        {{ profile.name }}
                    </div>
                    
                 
            </div>     -->
                
            <div class="row m-4"> 
                <div class="col-lg-4">
                    Email
                </div>
                <div class="col-lg-8">
                    {{ profile.email }}
                </div>
            </div>

            <div class="row m-4">  
                <div class="col-lg-4">
                    Phone
                </div>
                <div class="col-lg-8">
                    {{ profile.phone }}
                </div>

            </div> 
            <div class="row m-4"> 
                <div class="col-lg-4">
                    Profile
                </div>
                <div class="col-lg-8">
                    {{ profile.profile }}
                </div> 
            </div>

            <div class="row m-4"> 
                <div class="col-lg-12">
                    <a href="{{ profile.social1_link }}" target="_blank">
                        {{ profile.social1_name }}
                    </a>
                    <a href="{{ profile.social2_link }}">
                        {{ profile.social2_name }}
                    </a>
                </div>


            </div>
        </div>
        <div class="col-lg-1"></div>

        <!--<div class="col-lg-2"><i class="fas fa-plus-circle"></i> <a href="/profile/{{ profile.id }}">New Profile</a> </div>-->
        <div class="col-lg-2"><a href="/profile/edit/{{ profile.id }}">Edit</a> </div> 
        <!--<div class="col-lg-2"><a href="/profi/delete/{{ resume.id }}">Delete</a> </div>-->
    </div>
    <hr>
    
    <div class="row" style="flex: 1;"></div>

{% endblock %}
